<%- include('partials/header') %>
    <h1>Compose</h1>
    <div class="form-compose">
        <form action="/" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleinput" aria-describedby="" name="titlevalue" autocomplete="off">

            </div>
            <div class="mb-3">
                <label for="post" class="form-label">Post</label>
                <textarea class="form-control" placeholder="" id="postinput" style="height: 100px" name="postvalue" autocomplete="off"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Publish</button>
        </form>

    </div>


    <%- include('partials/footer') %>